// fuentes


$fuentePrincipal:  'Source Serif Pro', serif;
$gastrobar: 'Square Peg', cursive;
$patagonia: 'Source Serif Pro', serif;

//  maedia querys

$telefono: 480px;
$tablet: 768px;
$desktop: 1024;

$negro: #000000;
$blanco: #ffffff;
$fondoBody:#f7f0e8;
$verde: #2f6146;
$texto: #f3f3f4;
$menu:#93e5ab;
$amarillo: #eab464;

